{% extends "base.html" %}
{% load static %}

{% block main-left %}
    <div class="p-5">
        <img src="{% static "base/images/naama.jpg" %}" class="img-thumbnail rounded-circle bg-effect" alt="Thumbnail">
    </div>
    {% include "homepage/snippets/navi.html" %}
    {% include "homepage/snippets/sidebar-socials.html" %}
{% endblock %}

{% block main-right %}
    {% for block, html in blocks.items %}
        <section id="{{ block }}">
            <div>
                {{ html }}
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block body-javascript %}
    {{ block.super }}
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="application/javascript" src="{% static "base/js/scroll.js" %}"></script>
{% endblock %}