{% load static %}

{% block head-meta %}
    {{ block.super }}
    <title>Vuohiportal</title>
{% endblock %}

{% block head-css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
            integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
            crossorigin="anonymous"
    >
    <link href="{% static "base/css/main.css" %}" media="screen" rel="stylesheet" type="text/css">

{% endblock %}

{% block body-content %}

    <div class="container-fluid wrapper">
        <div class="row wrapper">
            <!-- LEFT PANEL -->
            <div class="col-md-2 d-flex flex-column bg-dark sidebar-sticky">
                {% block main-left %}
                {% endblock %}
            </div>
            <!-- RIGHT PANEL -->
            <div class="col-md-10 bg-light wrapper main-right">
                {% block main-right %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body-javascript %}
    {{ block.super }}
{% endblock %}